//- Trang chủ
extends ../../layouts/default.pug

block main 
    .body
        #banner.container.px-lg-5
            .slide-show
                .list-images
                    .item-image
                        img(src="/client/images/meo-ma-be-tha-banner.webp", alt="")
                    .item-image
                        img(src="/client/images/result_banner4.jpg", alt="")
                    .item-image
                        img(src="/client/images/banner2.webp", alt="")
                .btnBanner
                    .btn-left.btnB
                        i.fa-solid.fa-chevron-left
                    .btn-right.btnB
                        i.fa-solid.fa-chevron-right
                .index-images
                    .index-item.index-item-0.active
                    .index-item.index-item-1
                    .index-item.index-item-2

        //- movies
        #content
            .container.px-lg-5
                .content__title
                    .content__title-showing PHIM ĐANG CHIẾU
                .row.g-5
                    each item in moviesFeatured
                        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-3.content__contain
                            .content__item.content__over
                                a.content__item-link(href=`/movies/detail/${item.slug}`)
                                    .content__item-img
                                        .content__item-overlay
                                        img(src=item.thumbnail alt=item.title)
                                        div.tag-featured Nổi bật
                                    .content__item-infor
                                        .content__item-name #{item.title}
                                        .content__item-action
                                            .content__item-action-span
                                                img(src="/client/images/icon-play-vid.svg" alt="")
                                                .content__item-action-trailer Xem Trailer
                                            .content__item-action-button ĐẶT VÉ
                .content__see-more
                    .content__see-btn 
                        a(href="/movies") XEM THÊM

        div.my-5.d-inline-block

        #content.pb-5
            .container.px-lg-5
                .content__title
                    .content__title-showing PHIM SẮP CHIẾU
                .row.g-5
                    each item in moviesUpcoming
                        .col-6.col-sm-6.col-md-4.col-lg-3.col-xl-3.content__contain
                            .content__item.content__over
                                a.content__item-link(href=`/movies-upcoming/detail/${item.slug}`)
                                    .content__item-img
                                        .content__item-overlay
                                        img(src=item.thumbnail alt=item.title)
                                        div.tag-featured Nổi bật
                                    .content__item-infor
                                        .content__item-date #{item.release_date}
                                        .content__item-name #{item.title}
                                        .content__item-action
                                            .content__item-action-span
                                                img(src="/client/images/icon-play-vid.svg" alt="")
                                                .content__item-action-trailer Xem Trailer
                                            .content__item-action-button TÌM HIỂU THÊM
                .content__see-more
                    .content__see-btn 
                        a(href="/movies-upcoming") XEM THÊM